#!/usr/bin/env bash
set -e

curl -sfL https://get.k3s.io | K3S_TOKEN='${k3s_token_for_demo}' K3S_URL='https://${k3s_private_ip}:6443' sh -s - %{ for key, value in labels }--node-label '${key}=${value}' %{ endfor ~}
